html {
    background-color: hsl(47, 88%, 63%);
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: last baseline;
    height: 100vh;
}


#card {
    background-color: hsl(0, 0%, 100%);
    font-family: "Figtree";
    display: block;
    flex-direction: column;
    border: solid 1px;
    border-radius: 5%;
    box-shadow: 10px 10px 0 #000;
    margin: auto 30px;
    padding: 25px;
    width: 320px;
}
.link {
    color: #000;
    text-decoration: none;
}
.link:hover {
    cursor: pointer;
}
.link:active {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}


#graphic {
    border-radius: 5%;
}
#graphic, h2, h3, #card p {
    width: 100%;
}
h1, #card p, h4 {
    font-size: 16px;
}
h1, h3, h4 {
    font-weight: 800;
}
h2, #card p {
    font-weight: 500;
}
.author img {
    width: 45px;
    padding-top: 15px;
}
.author img, h4 { 
    display: inline-block;
    margin: 0;
}

h1 {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px 5px;
}
h2 {
    color: hsl(0, 0%, 7%);
    margin-top: 0;
    font-size: 14px;
}
h3 {
    font-size: 18pt;
    line-height: .8;
}
h4 {
    position: relative;
    bottom: 18px;
    padding-left: 10px;
}
p {
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
}

.attribution {
    width: 100%;
    margin-bottom: 0px;
}